body {
  font-family: sans-serif;
}

img {
  max-width: min(400px, 70%);
}

br {
  all: unset;
  display: block;
  line-height: 0.05em;
}

code {
  text-align: left;
  z-index: -1;
}

table, td, th {
  border: 1px solid;
}

table {
  width: 100%;
  border-collapse: collapse;
}

#lock {
  height: 1.5rem;
  fill: #111;
  z-index: 2;
  position: fixed;
  bottom: 2%;
  right: 2%;
}

#lock:hover {
  fill: #313;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #333e;
  color: #fff;
  padding: 0.2rem;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-link {
  text-decoration: none;
  color: #fff;
  padding: 0.5rem 2rem 0.5rem 2rem;
  position: relative;
}

.navbar-link:hover .navbar-submenu {
  display: block;
}

.navbar-link:hover {
  background-color: #555;
}

.navbar-sublink {
  margin-right: 1rem;
  position: relative;
}

.navbar-sublink:hover .navbar-submenu {
  display: block;
}

.navbar-sublink a:hover {
  background-color: #ddd;
}

.navbar-submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  overflow: hidden;
}

.navbar-submenu a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar-submenu a:hover {
  background-color: #ddd;
}

.grid-wrapper {
  width: 100%;
  max-width: calc(200px * 4 + 3rem);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 20%;
  grid-gap: 1rem;
  margin: 3.5rem 2rem 0rem 2rem;
  aspect-ratio: 1/1; /* Set the aspect ratio to 1:1 */
  padding: 0;
}

.article {
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.article:hover {
  border: 2px solid black;
}

.article h1 {
  margin-top: 0;
  font-size: 1.2rem;
}

.article p {
  font-size: 1.3vw;
  color: #222;
}

.article .tags {
  all: unset;
  font-size: 1.3vw;
  color: RGB(20,20,100);
}

.article.selected {
  all: unset;
  grid-column: 1 / -1;
  background-color: #fff;
  text-align: justify;
/*  margin-top: 1700px;*/
/*  margin-top: 25vh;*/
  padding-top: 2vh;
  margin-left: 10vw;
  max-width: 80vw;
  text-align: justify;
  line-height: 1.7 ;
  box-shadow: none;
  height: 75vh;
/*  overflow-y: scroll;*/
}

.article.selected:hover {
  border: none;
}

.article.selected h1 {
  font-size: 1.8rem;
}

@media (max-width: 1000px) {
  .grid-wrapper {
    max-width: 100%;
  }
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 0.5fr));
    grid-auto-rows: minmax(150px, 0.28fr);
    grid-gap: 0.5rem;
  }
  .article h1 {
    font-size: 1rem;
  }
  .article p {
    font-size: 1rem;
  }
}

@media (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 30%;
  }
}

@media (max-width: 700px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 35%;
  }
}

@media (max-width: 350px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 40%;
  }
}

@media only screen and (max-width: 428px) and (-webkit-device-pixel-ratio: 3) and (device-width: 428px) and (device-height: 926px) {
  /* Styles for iPhone 13 Pro Max */
  .grid {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 40%;
  }
}

/*@media only screen and (orientation: portrait) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 40%;
  }
}

@media only screen and (orientation: landscape) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 35%;
  }
}*/

#allb {
  border-right: 8rem;
}